@model Radio_ex.Models.company

@{
    ViewBag.Title = "Index";
}
@{
AjaxOptions op=new AjaxOptions {
    Url = Url.Action("disp"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        OnSuccess = "processData"
    };
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    function processData(data) {
        var target = $("#tableBody");
        target.empty();
        alert(data);
        alert(data.length)
        for (var i = 0; i < data.length; i++) {
            var person = data[i];
            target.append("<tr><td>" + person.Id + "</td><td>"
                + person.Name  + "</td><td>" + person.Age
                + "</td></tr>");
        }
    }
</script>



<div id="loading">loading............</div>

<div id="tableBody">

    </div>
<h2>Index</h2>
 @using (Ajax.BeginForm(op))
{foreach (var x in Model.GetEmp)
{ 
 
@Html.RadioButtonFor(m=>m.selectedId,x.Id) @Html.DisplayName(x.Name);


     
}
     <button type="submit">ddd</button>
}
 