.a
			{
				height:1000px;
				width:1200px;
				margin:2px 2px 2px 2px;
				border:2px solid red;
				
			}
			.ban
			{
				height:100px;
				width:1191px;
				margin:2px 2px 2px 2px;
				border:2px solid red;
			
			}
			.nav
			{
				float:left;
				height:500px;
				width:184px;
				margin:2px 2px 2px 2px;
				border:2px solid red;
			
			}
			.con
			{
				float:right;
				height:auto;
				width:1000px;
				margin:2px 2px 2px 2px;
				border:2px solid red;
			
			}
		