 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header headstyle">Contact Us...
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <div id="mapouter"><div id="gmap_canvas"><iframe width="600" height="400" src="https://maps.google.com/maps?q=Mumbai, IN, &t=&z=4&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe><a class="addmaps"href="http://www.embedgooglemap.net"id="get-map-data">www.embedgooglemap.net</a></div><style>#gmap_canvas{height:400px;width:600px;}#mapouter{overflow:hidden;height:400px;width:600px;}</style></div>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4 para">
                <h3>Contact Details</h3>
                <p class="para">
                    Imperial Hotels<br>Vidyanidhi Complex-1<br>Vidyanidhi Marg,Juhu Schame,Andheri(W),Mumbai-49
                </p>
                <p><i class="fa fa-phone para"></i> 
                    <abbr title="Phone para">P</abbr>: (022)26255629</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email para">E</abbr>: <a href="mailto:name@example.com" class="para">imperials@gmail.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x para"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x para"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x para"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x para"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        

      
</div>
  