@{
    ViewBag.Title = "feedback";
}



            <div class="col-lg-12">
                <h1 class="head headstyle">
                    Welcome to Imperial Hotels..
                </h1>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading panalhead">
                        <h4><i class="fa fa-fw fa-gift"></i>Reviews</h4>
                    </div>
                    <div class="panel-body">

                        <p style="font-size:medium">
                            “Close to business district"
                            <br />
                             Spent a week day in This hotel was a very good experienced.
                            <br />
                             The rooms was very nice and luxury. 
                            <br />
                             The service is typically Asian Country with lot of smile and very helpful. 
                            <br />
                             Breakfast was mix between Asian and Western very tasty. 
                            <br />
                             Pick up from Airport to Hotel also available with luxury car and comfort.

                        </p><br />
                        <br />

                        <hr />




                         </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading panalhead">
                        <h4><i class="fa fa-fw fa-compass"></i>Events</h4>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
