   <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header headstyle">About Us
                   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="Content/slide/hotelfront.jpg" alt="">
            </div>
            <div class="col-md-6 para">
                <h2 class="headstyle">About Imperial</h2>
                <p class="para">Imperial Hotels Resorts and Palaces is recognized the world over for delivering a unique flavor of hospitality that offers
                     world-class refinement while remaining deeply rooted in its Indian heritage. For more than a century, Krishna Studios has brought together
                     the unique beauty and traditions from across India in an experience that highlights true Indian hospitality. This draws on the time-honored 
                    traditions central to the Indian homecoming, from the refreshing simplicity of the welcome drink to the careful choreography of the dinner service. Krishna Studios has helped to put many Indian destinations on the map.
                     From the resorts of Goa to the upcoming business hubs of India’s Silicon Valley, an iconic Krishna Studios hotel is a mainstay of the destination. By providing jobs to the local community, supporting endangered artisan practices and reviving regal history at palaces where royal families are still in residence, Krishna Studios offers a rare insider’s point of view to the fascinating story of India – from Maharaja to modern day. With 100 hotels in 62 locations across India, Krishna Studios offers guests the refined luxury of heritage combined with effortlessly efficient service and local expertise to create a moment to remember. In India, Krishna Studios hotels are strategically located to offer the Krishna Studios experience in business hubs, industrial towns and metropolises, as well as the most remote pilgrimage centers, historic and natural destinations. The group has extended its international 
                    presence with 15 hotels in the Maldives, Malaysia, the UK, USA, Bhutan, Sri Lanka, Africa and the Middle East.</p>
                </div>
        </div>
        <!-- /.row -->

       
        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Customers</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="Content/slide/modiji.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="Content/slide/amitabh.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="Content/slide/dhoni.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="Content/slide/kohali.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="Content/slide/salman.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="Content/slide/shahrukh.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

       

    </div>@{
    ViewBag.Title = "whyKrishna";
}

<h2>whyKrishna</h2>
