
#title{
	
	color: #FFFFFF;
	font-weight: bold;
	font-family:algerian;
    font-style:italic;
}

#slogan {
	padding-left: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #ff9a59;
	font-family:forte;
}
.para{
	color: #FFFFFF;
	font-size: 15px;
	font-family:Century;
    line-height:1.5em;
}
.link{
	
	
	font-size: 12px;
    
	font-weight: bold;
	font-family:Century;
}
body{
	
	line-height: 1.5em;
	background: url(slide/back.jpg) repeat-x;
	font-size: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.pagehead{

	color: Black;
	font-size: 30px;
	font-weight: bold;
	font-family:Century;
    font-style:oblique;
}
.panalhead{

	color: Black;
	font-size: 18px;
	font-weight: bold;
	font-family:Century;
    font-style:oblique;
}
.headstyle {
	padding-left: 30px;
	font-size: 30px;
	font-weight: bold;
	color:#fff;
	font-family:forte;
    text-shadow:10px;
}
.foot{
	color: #FFFFFF;
	font-size: 12px;
	font-family:Century;
    line-height:1.5em;
    float:right;

}
.boxhead{
	color:Black;
	font-size: 15px;
	font-family:Century;
    line-height:1.5em;
}
.paragraph {
    color: #FFFFFF;
    font-size: 15px;
    font-family: Century;
    line-height: 1.5em;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
.lable
{
   
    color: Black;
    font-size: 30px;
    font-family: Century;
    line-height: 1.5em;
}
.bgm {
background-image:url("Content/slide/back.jpg")
}

