  <!-- ContainerSection -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="head">
                    Welcome to Krishna Group..
                </h1>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading panalhead">
                        <h4>Book a Room..</h4>
                    </div>
                    <div class="panel-body">
                          @{Html.RenderPartial("findHotel");}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading panalhead">
                        <h4><i class="fa fa-fw fa-gift"></i> Main info</h4>
                    </div>
                    <div class="panel-body">
                                                <a href="#" class="btn btn-default">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading panalhead">
                        <h4><i class="fa fa-fw fa-compass"></i>Atul</h4>
                    </div>
                    <div class="panel-body">
                        
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>